<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 text-center"></div>
                <div class="col-lg-8 text-center">
                    <h2 class="section-heading">À propos</h2>
                    <p class="text-muted">Chez MobiCore Robotics, nous croyons en une technologie qui s'adapte aux besoins changeants du monde moderne. C'est pourquoi nous avons conçu une base robotique modulaire, véritable chef-d'œuvre d'adaptabilité, capable de répondre efficacement à une multitude de situations.</p>
                    <p class="text-muted">Notre base robotique initiale se distingue par sa robustesse. Elle est imperméable et résiste aux conditions les plus extrêmes, y compris à la chaleur intense. Cette durabilité, combinée à sa modularité, la rend idéale pour une variété d'environnements et de défis.</p>
                    <p class="text-muted">Mais la flexibilité ne s'arrête pas là. Notre système offre une gamme d'options pour s'adapter encore davantage à vos besoins spécifiques. Avec une variété de scanners disponibles, tels que des lidars et des détecteurs de CO, notre technologie est prête à relever n'importe quel défi, que ce soit pour une mission de sauvetage dans une zone sinistrée ou une intervention dans un environnement industriel complexe.</p>
                    <p class="text-muted">La vision de MobiCore Robotics est claire : fournir des solutions robotiques avancées, modulaires et résilientes qui repoussent les limites de ce qui est possible, tout en assurant la sécurité et l'efficacité. Avec MobiCore Robotics à vos côtés, vous êtes équipé pour affronter l'avenir.</p>     
                </div>
                <div class="col-lg-2 text-center"></div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-lg-2 text-center"></div>
                <div class="col-lg-8 text-center">
                    <h2 class="section-heading">En histoire</h2>
                </div>
                <div class="col-lg-2 text-center"></div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/robot/markhor_squared.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Origine : Une Passion Commune</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">La fascination pour la robotique nous a réunis au sein d'un club unique, où chaque membre apportait son expertise distinctive. Alors que nous plongions dans cet univers passionnant, une réalisation nous a frappés : l'Amérique du Nord manquait cruellement de compétitions dédiées à ce domaine.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/enrich/enrich_squared.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">La Quête de l'Excellence</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Les compétitions auxquelles nous avons participé ont été une source inestimable d'enrichissement. Lors de la compétition européenne de robotique, nous avons été confrontés au défi de la recherche et du sauvetage dans un environnement aussi complexe qu'une usine nucléaire. Grâce à notre dévouement et à notre ingéniosité, nous avons décroché le prestigieux titre de "Best in Class : search and rescue". Cette expérience nous a non seulement renforcés en tant qu'équipe, mais elle nous a également fait réaliser l'importance cruciale de la modularité dans la conception robotique.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/robot/front_squared.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">L'Innovation au Service du Secourisme</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Notre voyage nous a conduits à la conception d'un prototype révolutionnaire : un robot modulaire adapté aux défis du secourisme. Chaque module a été pensé pour répondre aux besoins spécifiques des interventions, offrant une solution flexible et efficiente pour les situations les plus critiques. Composé d'une base commune, les robots de MobiCore s'adapte aux besoins des clients pour leur permettre d'être plus efficace et de gagner un temps précieux.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Faites
                                    <br>Partie de
                                    <br>l'aventure !</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>