<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Notre technologie</h2>
                    <h3 class="section-subheading text-muted">Sauver des vies.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-puzzle-piece fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Technologie de Sauvetage Modulaire</h4>
                    <p class="text-muted">Solutions robotiques adaptées aux missions de sauvetage, équipées d'outils spécifiques pour augmenter l'efficacité et la sécurité.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Intervention Robotique Avancée</h4>
                    <p class="text-muted">Plateformes mobiles pour situations périlleuses, réduisant les risques pour les pompiers et secouristes grâce à des innovations technologiques.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-gear fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Optimisation des Missions Tout-Terrain</h4>
                    <p class="text-muted">Robots tout-terrain conçus pour le déploiement rapide, répondant aux besoins des acteurs du secourisme, de l'industrie, et de la défense.</p>
                </div>
            </div>
        </div>
    </section>